<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Phasellus sit amet convallis turpis. Quisque in quam vel ex bibendum consectetur. 
    Fusce rutrum, lectus in sodales sodales, ligula ligula iaculis est, a faucibus magna 
    ex at nisi. Integer ac metus sit amet mi scelerisque elementum in nec metus. 
    Maecenas non ipsum vel ante luctus scelerisque. Aenean faucibus lorem eget eros 
    ultricies, vel consectetur nisl feugiat. Nam lacinia tempus neque, sed pharetra 
    nulla fringilla vitae. Vestibulum ante ipsum primis in faucibus orci luctus et 
    ultrices posuere cubilia Curae; Nam posuere efficitur nulla sed egestas. Quisque
    fringilla neque dictum, cursus lorem eu, elementum ligula. Donec lobortis est 
    sit amet nunc commodo imperdiet. Nullam sodales suscipit sem eget semper. 
    Fusce libero justo, aliquam non consequat sit amet, sollicitudin eleifend diam. 
    Nam vestibulum pulvinar laoreet.
    Nulla nibh nulla, interdum eu mattis ullamcorper, faucibus viverra libero. 
    Integer dignissim ante ipsum, non tincidunt nulla dignissim a. Mauris vitae 
    sapien ut turpis dignissim eleifend eget non urna. Integer tempor, lorem sit 
    amet vulputate consequat, magna felis pharetra tortor, sed venenatis sem turpis
    in lorem. Morbi ante nibh, suscipit ac mauris non, luctus fermentum sem. Maecenas
    gravida suscipit ullamcorper. Curabitur molestie libero in nunc tristique dictum.
    Nulla sit amet consectetur diam. Fusce placerat turpis eu dui porttitor, non dapibus
</p>
<p>justo pellentesque. Quisque eu lectus et mauris facilisis ultrices id et tortor. Ut
    vulputate arcu a tristique venenatis. Aenean mattis, nulla porttitor sodales laoreet,
    sem urna pulvinar augue, fermentum pellentesque mi elit ut neque.
    Praesent facilisis, felis sed efficitur iaculis, libero massa vulputate ligula, 
    sed gravida dolor felis sit amet eros. Cras nec eleifend nibh, eu auctor justo. 
    Praesent mollis, justo at sodales commodo, ipsum metus bibendum erat, non condimentum
    lorem eros ut est. Nulla facilisi. Morbi rhoncus libero viverra, mollis augue vel, 
    dictum mauris. Fusce feugiat dapibus orci, sed vehicula magna luctus a. Praesent 
    venenatis molestie metus eu accumsan. Nunc ornare sem vel leo pharetra tempus quis 
    eget eros.</p>

<app-footer></app-footer>
